// Default
//$primary-color: rgba(152, 152, 152, 1);
//$secondary-color: #1A2930;
//$secondary-color-link: #57BC90;
//$primary-color-link: #615F6A;

$primary-color: rgba(240, 240, 240, 1);
$secondary-color: rgba(40, 40, 60, 1);
$primary-color-link: rgba(2, 40, 60, 1);
$secondary-color-link: rgba(240, 240, 240, 1);

$transparant: rgba(255, 255, 255, 0);

$small: 480px;
$medium: 768px;
$large: 1200px;
$huge: 1440px;
$small-font-size: 0.75em;

$h1-font-size: 4.157em;
$h2-font-size: 2.369em;
$h3-font-size: 1.777em;
$h4-font-size: 1.333em;
$p-font-size: 1em;
