{
  "linters": {
    "**/*.js": [
      "prettier --write",
      "git add"
    ],
    "**/*.scss": [
      "prettier --parser postcss --write",
      "stylelint --syntax=scss --fix",
      "git add"
    ],
  }
}
