@keyframes navigation-down {

  0% {
    transform: translate3d(0, 0px, 0);
  }

  60% {
    transform: translate3d(0, 20px, 0);
  }

  90% {
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes navigation-up {

  0% {
    transform: translate3d(0, 0px, 0) rotate(180deg);
  }

  60% {
    transform: translate3d(0, -20px, 0) rotate(180deg);
  }

  90% {
    transform: translate3d(0, 0px, 0) rotate(180deg);
  }
}

@keyframes separation {

  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(135deg);
  }

  50% {
    transform: rotate(225deg);
  }

  75% {
    transform: rotate(315deg);
  }
}

@keyframes name-animate {

  0% {
    transform: translate3d(0, -50px, 0) scale(0.5);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: translate3d(0, 0px, 0) scale(1);
  }
}

@keyframes job-animate {

  0% {
    transform: translate3d(0, -50px, 0) scale(0.5);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: translate3d(0, 0px, 0) scale(1);
  }
}

@keyframes fade-in-scale-up-background {

  0% {
    transform: translate3d(0, 0, 0) scale(0);
    transform-origin: 50% 50%;
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    transform-origin: 50% 50%;
  }
}

@keyframes fade-in-scale-up {

  0% {
    transform: translate3d(0, 0, 0) scale(0);
    transform-origin: 50% 50%;
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}
// Section profession

@media (min-width: $medium) {

  .hidden {
    @include page-transition;
  }
}
