body {
  background-color: $color-base-grey;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

}

.navigation {
  color: $color-base;

  &__list {
    padding-left: 0;
    display: flex;

    &--list-item {
      list-style: none;
      padding: .4em 1em;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.page-logo {
  display: flex;
  align-items: center;
  padding: .4em 0 .4em 1em;
  color: $color-base;
}

section {
  display: grid;
  .section-content {
    margin: 0 1em;
    background-color: $color-base;
  }

  &.intro {
    background-image: url('http://www.wallpapers-web.com/data/out/205/5615949-urban-landscape-wallpapers.jpg');

    .section-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10em 0;
      background-color: $color-base;

      h1,
      h2,
      h3 {
        margin-top: 0;
      }

      .nav-down {
        margin: 5em 0 0;

        path {
          fill: $color-base-grey;
        }
      }
    }
  }

  &.about {
    grid-template-columns: 50% 50%;

    .section-content {
      margin-right: 0;
      padding: 5em .5em;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: $color-base;
    }
  }

  &.work {
    grid-template-columns: 50% 50%;

    .section-content {
      grid-column-start: 2;
      margin-left: 0;
      padding: 5em .5em;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: $color-base;
    }
  }

  &.contact {
    .section-content {
      padding: .5em;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: $color-base;
    }
  }
}
