<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="identifier-url" content="http://www.bald-development.com   " />
	<meta name="title" content="Bald Development - Pieter Rees" />
	<meta name="description" content="Bald Development landing page" />
	<meta name="abstract" content="Bald Development landing page" />
	<meta name="keywords" content="Pieter, Pieter Rees, PR DEV, Rees, Pieterrees, Piet, Bald, bald, Bald Development, BLD, bld, bld-development, bld-dev, Bald-Development" />
	<meta name="author" content="Pieter Rees" />
	<meta name="revisit-after" content="10" />
	<meta name="language" content="EN" />
	<meta name="copyright" content="© 2016 Pieter Rees" />
	<meta name="robots" content="All" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Bald Development - BLD - Pieter Rees</title>

	<link rel="stylesheet" href="assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu" rel="stylesheet">
</head>
