<!DOCTYPE html>
{{> head}}
<body>
    <header>
        {{> intro}}
    </header>

    <main>
        {{> about}}
        {{> work}}
        {{> contact}}
    </main>

    <footer>
        {{> footer}}
    </footer>
</body>
